@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: #161513;
    color: #fff;
    font-family: outfit;
    overflow-x: hidden
}

.backdrop-bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
  }